* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/inter.ttf");
}

@font-face {
  font-family: "questrial";
  src: url("../assets/fonts/Questrial-Regular.ttf");
}

body {
  font-family: "inter" Arial, Helvetica, sans-serif;
}

:root {
  --main-black: #1d1f20;
  --base: #ffffff;
  --footer: #232529;
}

header {
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
}

.pop-up {
  background-color: var(--main-black);
  color: var(--base);
  line-height: 120%;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
}
.hidden {
  display: none;
}

.pop-up a {
  color: var(--base);
}

.pop-up p {
  margin-left: auto;
}

.pop-up img {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

nav {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.logo {
  margin-right: 64px;
}

nav ul a {
  color: var(--main-black);
  text-decoration: none;
}

.list-logo-wrapper {
  display: flex;
}

.special {
  display: flex;
  gap: 7px;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.burger-menu {
  width: 29px;
  height: 4px;
  border-radius: 2.5px;
  background-color: #1d1f20;
  z-index: 10001;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--footer);
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}

.mobile-nav a {
  color: var(--base);
  text-decoration: none;
  font-size: 18px;
}

.burger-active {
  right: -50%;
}

#header .burger-menu-white {
  background-color: var(--base);
}

button {
  padding: 8px 16px;
  font-family: "inter";
  border-radius: 12px;
  border: 1px solid #edeef0;
  background-color: var(--base);
  color: var(--main-black);
  line-height: 124%;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.start-free {
  background-color: var(--main-black);
  color: var(--base);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 32px;
  text-align: center;
  font-family: "questrial";
}

.anouncement {
  background-color: #f4f5f6;
  padding: 2px 8px 0px 0px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 120%;
  letter-spacing: -0.1px;
}

.anouncement span {
  background-color: var(--main-black);
  color: var(--base);
  border-radius: 100px;
  padding: 2px 8px;
  font-size: 14px;
  margin-right: 4px;
}

.anouncement p {
  display: flex;
  align-items: center;
}

.anouncement img {
  width: 14px;
  height: 13px;
  margin-left: 4px;
}

.hero h2 {
  font-size: 92px;
  letter-spacing: -3.6px;
  line-height: 88px;
}

.slogan {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
}

.hero-btns {
  font-family: "inter";
}

.hero-start-btn {
  background-color: var(--main-black);
  color: var(--base);
  padding: 12px 18px;
}

.hero-sales-btn {
  background-color: var(--base);
  color: var(--main-black);
  padding: 12px 18px;
  font-weight: bold;
}

.video-section {
  max-width: 1440px;
  margin: 93px;
  margin-top: 80px;
  background-image: url("../assets/images/Background.png");
  position: relative;
}

.hero-video {
  padding: 63px 168px;
  max-width: 1252px;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

@keyframes scrollLeft {
  to {
    left: -260px;
  }
}

@keyframes scrollRight {
  to {
    right: -260px;
  }
}

.conveyer-logos {
  max-width: 1256px;
  width: 100%;
}

.logos-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  /* to make images dissapear after they leave */
  overflow: hidden;
  display: flex;
  align-items: center;
  /* to make images blur */
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

/* to make the animation stop on hover */
.logos-wrapper:hover .conveyor-logo {
  animation-play-state: paused;
}

.conveyor-logo {
  position: absolute;
  /* so the animation starts outside the div at the left */
  left: 100%;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logos-wrapper-right {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.conveyor-logo-to-right {
  position: absolute;
  right: 100%;
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logo1 {
  /* so the animation delay is a negative number depending on the number of logos
     negative number means headstart. */
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}
.logo2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}
.logo3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}
.logo4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}
.logo5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}
.logo6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.logo1-to-right {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}
.logo2-to-right {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}
.logo3-to-right {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}
.logo4-to-right {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}
.logo5-to-right {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.logos-wrapper-right:hover .conveyor-logo-to-right {
  animation-play-state: paused;
}

.crm {
  font-family: "questrial";
  display: flex;
  padding: 94px;
  gap: 24px;
}

.box-line {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  background: linear-gradient(#ffffff, #d9d9d9, #ffffff);
  width: 1.5px;
  height: 1152px;
}

.multiplayer-line {
  height: 1730px;
}

.data-line {
  height: 1730px;
}

.crm-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.crm-main h2 {
  color: var(--main-black);
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
}

.crm-main p {
  color: var(--main-black);
  font-weight: 400px;
  font-size: 22px;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.crm-quote {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  margin-top: 60px;
  text-align: center;
}

.crm-quote img {
  width: 44px;
  height: 44px;
}

.crm-quote h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
  font-weight: 400;
}

.crm-quote .quote-text {
  margin: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.data-workflows {
  font-family: "questrial";
  display: flex;
  padding: 94px;
  gap: 24px;
}

.workflows-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.workflows-main h2 {
  color: var(--main-black);
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
}

.workflows-main p {
  color: var(--main-black);
  font-weight: 400px;
  font-size: 22px;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.data-img-container {
  display: flex;
  gap: 24px;
}

.workflows-quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  margin-top: 60px;
}

.workflows-quote img {
  width: 44px;
  height: 44px;
}

.workflows-quote h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
  font-weight: 400;
}

.workflows-quote .quote-text {
  margin: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.first-img {
  border: 5px solid #edeef0;
  border-radius: 20px;
}

.multiplayer {
  padding: 94px;
  display: flex;
  gap: 24px;
}

.multiplayer-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.multiplayer-main h2 {
  color: var(--main-black);
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
}

.multiplayer-main p {
  color: var(--main-black);
  font-weight: 400px;
  font-size: 22px;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.multiplayer-img-container {
  display: flex;
  gap: 28px;
}

.multiplayer-quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  margin-top: 60px;
}

.multiplayer-quote img {
  width: 44px;
  height: 44px;
}

.multiplayer-quote h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
  font-weight: 400;
}

.multiplayer-quote .quote-text {
  margin: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.scale {
  font-family: "questrial";
  display: flex;
  padding: 116px;
}

.scale-wrapper {
  display: flex;
  border: 1px solid #edeef0;
  justify-content: space-between;
  align-items: center;
}

.scale-security {
  display: flex;
  flex-direction: column;
  padding: 56px 155px 56px 64px;
}

.scale-security h3 {
  color: var(--main-black);
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.8px;
  margin-bottom: 6px;
}

.scale-security p {
  color: var(--main-black);
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 28px;
  font-family: "inter";
  margin-bottom: 24px;
  font-weight: 400px;
}

.scale-security span {
  color: #9098a0;
}

.scale-logos {
  display: flex;
  gap: 32px;
  padding: 99px 45px;
}

.much-more {
  background-color: var(--footer);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "inter";
}

.mm-wrapper {
  max-width: 1440px;
  display: flex;
  padding: 116px 94px;
  flex-direction: column;
}

.mm-wrapper h2 {
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
  color: #9098a0;
  font-weight: 400px;
  margin-bottom: 16px;
}

.mm-wrapper span {
  color: #ffffff;
}

.mm-wrapper p {
  color: #9098a0;
  font-weight: 300px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  margin-bottom: 64px;
}

.much-more-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  max-width: 1252px;
}

#my-swiper {
  display: none;
}

.swiper {
  width: 340px;
  height: 340px;
}

.loved-by {
  background-color: var(--footer);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "inter";
  align-items: center;
  position: relative;
}

.loved-by-container {
  display: flex;
  gap: 24px;
}

.loved-by-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 116px 94px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loved-by-wrapper h2 {
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
  color: #9098a0;
  font-weight: 400px;
  margin-bottom: 16px;
}

.loved-by-wrapper span {
  color: #ffffff;
}

.loved-by-wrapper p {
  color: #edeef0;
  font-weight: 300px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  margin-bottom: 32px;
}

.loved-by-wrapper button {
  background-color: var(--footer);
  color: #edeef0;
  border: 1px solid #31373d;
  width: fit-content;
  padding: 12px 16px;
  margin-bottom: 64px;
}

.no-scroll {
  max-width: 75%;
  column-count: 2;
  column-gap: 24px;
}

.loved-by-card {
  display: inline-block;
  margin-bottom: 28px;
  width: auto;
  border: 1px solid #31373d;
  border-radius: 24px;
  padding: 26px 24px;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  gap: 8px;
}

.loved-by .date {
  font-size: 12px;
  color: #555e67;
  line-height: 16px;
}

.card-top img {
  width: 24px;
  height: 24px;
  margin-bottom: 30px;
}

.user-info img {
  width: 34px;
  height: 34px;
}

.user-info h4 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #9098a0;
}

.user-info p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #555e67;
}

.card-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #edeef0;
}

.scrollable {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow-y: scroll;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
}

.load-more-btn {
  position: absolute;
  top: -25%;
  left: 35%;
  display: none;
  background-color: var(--footer);
  border: 1px solid #31373d;
  color: var(--base);
  padding: 10px 26px;
  cursor: pointer;
}

.dream-crm {
  background-color: #266df0;
  width: 100%;
  font-family: "questrial";
  display: flex;
  justify-content: center;
  position: relative;
}

.dream-crm-wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 0 94px;
  padding-right: 0;
  align-items: center;
  justify-content: space-between;
}

.crm-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.crm-left h2 {
  color: #579cf7;
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
  font-weight: 600;
}

.crm-left span {
  color: white;
}

.crm-left button {
  background-color: #538bf3;
  padding: 12px 16px;
  color: white;
  border: none;
}

.crm-left .crm-dream-special {
  background-color: #266df0;
  border: 1px solid #538bf3;
}

footer {
  background-color: #1d1f20;
  font-family: "inter";
}

.footer-wrapper {
  max-width: 1440px;
  padding: 64px 94px;
  color: #555e67;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #31373d;
}

.footer-logo {
  position: absolute;
  top: 64px;
  left: 94px;
}

.footer-mobile-links {
  display: none;
}

.footer-wrapper a {
  color: #555e67;
  text-decoration: none;
}

.footer-ul-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 98px;
}

.footer-ul-wrapper ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  min-width: 190px;
}

.footer-ul-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 20px;
  letter-spacing: -0.1px;
  font-size: 14px;
}

.footer-ul-wrapper span {
  margin-bottom: 12px;
  color: #9098a0;
  line-height: 20px;
  letter-spacing: -0.1px;
  font-size: 14px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  gap: 12px;
}

.footer-buttons span {
  color: #9098a0;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-buttons button {
  font-family: "inter";
  padding: 12px 16px;
  width: 300px;
  background-color: #1d1f20;
  border: 1px solid #31373d;
  color: #ffffff;
}

.footer-buttons .footer-free {
  background-color: #31373d;
}

.copyright {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 20px 94px 60px;
  color: #9098a0;
  position: relative;
}

.copyright-logos {
  display: flex;
  gap: 32px;
}

.copyright-logos ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

.footer-chat {
  position: absolute;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.footer-mobile-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 24px 20px 24px;
}

.footer-mobile-li {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #222529;
  color: #979ca1;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    flex-direction: column-reverse;
  }

  nav ul {
    display: none;
  }

  #pop-up {
    margin-top: 16px;
  }

  .sign-ups {
    display: none;
  }

  .burger {
    display: flex;
  }

  .pop-up {
    padding: 7px 30px;
    font-size: 12px;
    gap: 8px;
    text-align: center;
  }

  .pop-up p {
    margin: 0;
  }

  #close {
    margin-left: 16px;
  }
}

@media (max-width: 1280px) {
  .hero {
    margin: 0 24px;
  }

  .anouncement {
    font-size: 14px;
  }

  .hero h2 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }

  .slogan {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  .hero-btn {
    padding: 12px 16px;
  }

  .video-section {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 37px;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .hero-video {
    width: 100%;
    height: 100%;
    padding: 37px 24px;
  }

  .play {
    width: 30px;
    height: 30px;
  }

  .crm {
    padding: 60px 24px;
    max-width: none;
    margin: 0 auto;
  }

  .box-line img {
    width: 32px;
    height: 32px;
  }

  .box-line {
    gap: 4px;
  }

  .crm-main {
    width: 100%;
  }

  .crm-main h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }

  .crm-main p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .crm-main img {
    width: 100%;
    height: 100%;
  }

  .crm-quote {
    align-items: flex-start;
    text-align: left;
  }

  .crm-quote img {
    width: 44px;
    height: 44px;
  }

  .crm-quote h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .data-workflows {
    padding: 60px 24px;
    max-width: none;
    margin: 0 auto;
  }

  .workflows-main {
    width: 100%;
  }

  .workflows-main h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }

  .workflows-main p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .data-img-container {
    flex-direction: column;
  }

  .workflows-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .workflows-quote {
    align-items: flex-start;
    text-align: left;
  }

  .workflows-quote h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .workflows-quote img {
    width: 44px;
    height: 44px;
  }

  .multiplayer-img-container {
    flex-direction: column;
  }

  .multiplayer {
    padding: 60px 24px;
    max-width: none;
    margin: 0 auto;
  }

  .multiplayer-main {
    width: 100%;
  }

  .multiplayer-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .multiplayer-main h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }

  .multiplayer-main p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .multiplayer-quote img {
    width: 44px;
    height: 44px;
  }

  .multiplayer-quote {
    text-align: left;
    align-items: flex-start;
  }

  .multiplayer-quote h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .scale-wrapper {
    flex-direction: column;
    align-items: baseline;
  }

  .scale {
    margin: 0 auto;
    padding: 60px 24px;
  }

  .scale-security {
    padding: 30px 20px 20px 20px;
    text-align: center;
  }

  .scale-security h3 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }

  .scale-security p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .scale-logos {
    padding: 40px 44px 30px 44px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .much-more {
    margin: 0 auto;
    padding: 60px 24px;
  }

  .mm-wrapper h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }

  .mm-wrapper p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  .much-more-container {
    display: none;
  }

  #my-swiper {
    display: block;
  }

  .loved-by {
    padding: 60px 24px;
    max-width: none;
    margin: 0 auto;
  }

  .loved-by-container {
    flex-direction: column;
    width: 100%;
  }

  .loved-by-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  .no-scroll {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 100%;
    min-width: 0;
    padding: 0;
  }

  .loved-by .loved-by-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .load-more-btn {
    display: block;
  }

  .crm {
    margin: 0 auto;
    padding: 60px 24px;
  }

  .crm-wrapper {
    display: flex;
    flex-direction: column;
  }

  .dream-crm-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }

  .dream-crm-wrapper img {
    width: 346px;
    height: 280px;
  }

  .dream-crm-wrapper button {
    width: 100%;
    margin-bottom: 12px;
  }

  .crm-left h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
  }

  .footer-ul-wrapper {
    display: none;
  }

  .footer-buttons {
    display: none;
  }

  .footer-wrapper {
    padding: 60px 24px;
    border: none;
  }

  .footer-logo {
    top: 40px;
    left: 24px;
  }

  .footer-mobile-links {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 48px;
    right: 24px;
    gap: 12px;
  }

  .copyright-logos .footer-links-desktop {
    display: none;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .copyright p {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.1px;
    color: #555e67;
  }

  .footer-mobile-li {
    display: flex;
  }

  .mobile-nav {
    display: flex;
  }
}
