* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/inter.ttf");
}

@font-face {
  font-family: "questrial";
  src: url("../assets/fonts/Questrial-Regular.ttf");
}

body {
  font-family: "inter" Arial, Helvetica, sans-serif;
}

:root {
  --main-black: #1d1f20;
  --base: #ffffff;
  --footer: #232529;
}

header {
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px 24px;
}

.pop-up {
  background-color: var(--main-black);
  color: var(--base);
  line-height: 120%;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
}
.hidden {
  display: none;
}

.pop-up a {
  color: var(--base);
}

.pop-up p {
  margin-left: auto;
}

.pop-up img {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

nav {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.logo {
  margin-right: 64px;
}

nav ul a {
  color: var(--main-black);
  text-decoration: none;
}

.special {
  display: flex;
  gap: 4px;
}
button {
  padding: 8px 16px;
  font-family: "inter";
  border-radius: 12px;
  border: 1px solid #edeef0;
  background-color: var(--base);
  color: var(--main-black);
  line-height: 124%;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.start-free {
  background-color: var(--main-black);
  color: var(--base);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 32px;
  text-align: center;
  font-family: "questrial";
}

.anouncement {
  background-color: #f4f5f6;
  padding: 2px 8px 0px 0px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 120%;
  letter-spacing: -0.1px;
}

.anouncement span {
  background-color: var(--main-black);
  color: var(--base);
  border-radius: 100px;
  padding: 2px 8px;
  font-size: 14px;
  margin-right: 4px;
}

.anouncement p {
  display: flex;
  align-items: center;
}

.anouncement img {
  width: 14px;
  height: 13px;
  margin-left: 4px;
}

.hero h2 {
  font-size: 92px;
  letter-spacing: -3.6px;
  line-height: 88px;
}

.slogan {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
}

.hero-btns {
  font-family: "inter";
}

.hero-start-btn {
  background-color: var(--main-black);
  color: var(--base);
  padding: 12px 18px;
}

.hero-sales-btn {
  background-color: var(--base);
  color: var(--main-black);
  padding: 12px 18px;
  font-weight: bold;
}

.video-section {
  max-width: 1440px;
  margin: 93px;
  margin-top: 80px;
  background-image: url("../assets/images/Background.png");
  position: relative;
}

.hero-video {
  padding: 63px 168px;
  max-width: 1252px;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.crm {
  font-family: "questrial";
  display: flex;
  padding: 94px;
  gap: 24px;
}

.box-line {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  background: linear-gradient(#ffffff, #d9d9d9, #ffffff);
  width: 1.5px;
  height: 1152px;
}

.multiplayer-line {
  height: 1730px;
}

.data-line {
  height: 1730px;
}

.crm-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.crm-main h2 {
  color: var(--main-black);
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
}

.crm-main p {
  color: var(--main-black);
  font-weight: 400px;
  font-size: 22px;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.crm-quote {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  margin-top: 60px;
  text-align: center;
}

.crm-quote img {
  width: 44px;
  height: 44px;
}

.crm-quote h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
  font-weight: 400;
}

.crm-quote .quote-text {
  margin: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.data-workflows {
  font-family: "questrial";
  display: flex;
  padding: 94px;
  gap: 24px;
}

.workflows-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.workflows-main h2 {
  color: var(--main-black);
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
}

.workflows-main p {
  color: var(--main-black);
  font-weight: 400px;
  font-size: 22px;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.workflows-quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  margin-top: 60px;
}

.workflows-quote img {
  width: 44px;
  height: 44px;
}

.workflows-quote h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
  font-weight: 400;
}

.workflows-quote .quote-text {
  margin: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.first-img {
  border: 5px solid #edeef0;
  border-radius: 20px;
}

.multiplayer {
  padding: 94px;
  display: flex;
  gap: 24px;
}

.multiplayer-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.multiplayer-main h2 {
  color: var(--main-black);
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
}

.multiplayer-main p {
  color: var(--main-black);
  font-weight: 400px;
  font-size: 22px;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.multiplayer-img-container {
  display: flex;
  gap: 28px;
}

.multiplayer-quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  margin-top: 60px;
}

.multiplayer-quote img {
  width: 44px;
  height: 44px;
}

.multiplayer-quote h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #31373d;
  font-weight: 400;
}

.multiplayer-quote .quote-text {
  margin: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.scale {
  font-family: "questrial";
  display: flex;
  padding: 116px;
}

.scale-wrapper {
  display: flex;
  border: 1px solid #edeef0;
  justify-content: space-between;
  align-items: center;
}

.scale-security {
  display: flex;
  flex-direction: column;
  padding: 56px 155px 56px 64px;
}

.scale-security h3 {
  color: var(--main-black);
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.8px;
  margin-bottom: 6px;
}

.scale-security p {
  color: var(--main-black);
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 28px;
  font-family: "inter";
  margin-bottom: 24px;
  font-weight: 400px;
}

.scale-security span {
  color: #9098a0;
}

.much-more {
  background-color: var(--footer);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "inter";
}

.mm-wrapper {
  max-width: 1440px;
  display: flex;
  padding: 116px 94px;
  flex-direction: column;
}

.mm-wrapper h2 {
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
  color: #9098a0;
  font-weight: 400px;
  margin-bottom: 16px;
}

.mm-wrapper span {
  color: #ffffff;
}

.mm-wrapper p {
  color: #9098a0;
  font-weight: 300px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.3px;
  margin-bottom: 64px;
}

.much-more-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  max-width: 1252px;
}

.dream-crm {
  background-color: #266df0;
  width: 100%;
  font-family: "questrial";
  display: flex;
  justify-content: center;
}

.dream-crm-wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 0 94px;
  padding-right: 0;
  align-items: center;
  justify-content: space-between;
}

.crm-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.crm-left h2 {
  color: #579cf7;
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1.2px;
  font-weight: 600;
}

.crm-left span {
  color: white;
}

.crm-left button {
  background-color: #538bf3;
  padding: 12px 16px;
  color: white;
  border: none;
}

.crm-left .crm-dream-special {
  background-color: #266df0;
  border: 1px solid #538bf3;
}

footer {
  background-color: #1d1f20;
  font-family: "inter";
}

.footer-wrapper {
  max-width: 1440px;
  padding: 64px 94px;
  color: #555e67;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #31373d;
}

.footer-logo {
  position: absolute;
  top: 64px;
  left: 94px;
}

.footer-wrapper a {
  color: #555e67;
  text-decoration: none;
}

.footer-ul-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 98px;
}

.footer-ul-wrapper ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  min-width: 190px;
}

.footer-ul-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 20px;
  letter-spacing: -0.1px;
  font-size: 14px;
}

.footer-ul-wrapper span {
  margin-bottom: 12px;
  color: #9098a0;
  line-height: 20px;
  letter-spacing: -0.1px;
  font-size: 14px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  gap: 12px;
}

.footer-buttons span {
  color: #9098a0;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-buttons button {
  font-family: "inter";
  padding: 12px 16px;
  width: 300px;
  background-color: #1d1f20;
  border: 1px solid #31373d;
  color: #ffffff;
}

.footer-buttons .footer-free {
  background-color: #31373d;
}

.copyright {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 20px 94px 60px;
  color: #9098a0;
  position: relative;
}

.copyright-logos {
  display: flex;
  gap: 32px;
}

.copyright-logos ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

.footer-chat {
  position: absolute;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}
